.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: #282c34;
  -webkit-text-stroke-width: .6px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.bkimg {
  background-image: url("./assets/favicon.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 40%;
}
